*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #329AB0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 30px;
}


.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 12px;
    font-size: 24px;
    color: white;
}

.cabeçalho-lista-item-1{
    display: inline-block;
    margin: 0 12px;
    font-size: 30px;
    color: #EBFF6F;
}